@font-face {
  font-family: "NunitoSans";
  src: url("../../tipografias/NunitoSans-Regular.ttf") format("truetype");
}
.adress {
  display: block;
  font-family: NunitoSans;
  background-color: #d1d1d1;
  padding: 24px;
  transition: background 0.15s ease-in 0.15s;
  &:hover {
    background-color: #c1c1c1;
  }
}
